@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@keyframes tooltip {
  to {
    opacity: .9;
    transform: translate(-50%, -9px);
  }
}

body, h1, h2, h3, p {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
  line-height: 1;
}

body {
  background-color: #486260;
}

.logo {
  max-width: 40px;
  display: block;
  margin: auto;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 7px #ccf,
    0 0 10px #ccf,
    0 0 21px #ccf,
    0 0 42px #486260,
    0 0 82px #486260,
    0 0 92px #486260,
    0 0 102px #486260,
    0 0 151px #486260;
}

.wrapper {
  .background {
    position: fixed;
    /*top: -20px;
    left: -20px;*/
    width: 110%;
    height: 110%;
    background: url(https://jadebarry.com/understory.jpg);
    background-position: center;
    /*background-size: cover;
    background-position: center;
    filter: blur(5px);*/
    z-index: -2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .25);
    z-index: -1;
  }
}

.content {
    position: fixed;
    font-size: 1.2em;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 90%;
    margin-top: 5px;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 0.1em;
  }

  h3 {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  p {
    font-size: 1.4rem;
  }

  .links {
    margin: 10px 0;
  }

  a {
    display: inline-block;
    color: white;
    font-size: 1.25em;
    margin: 0.15em 0.25em 0 0;
    padding: 0.25em;
    transition: color 0.1s;
    cursor: pointer;
    transition: all 200ms;

    &:first-of-type {
      margin-left: -0.25em;
    }

    &:hover {
      color: rgba(255, 255, 255, .9);
      text-shadow: 1px 3px 3px rgba(53, 53, 53, .9);
    }
  }

.blur {
  -webkit-mask: linear-gradient(#000, #000, transparent);
          mask: linear-gradient(#000, #000, transparent);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  height: 50vh;
  width: 100vw;
  overflow: visible;
  float: left;
}
.outlined {
  height: 50vh;
  width: 50vw;
  position: fixed;
  border-top: 0;
  border-left: 0;
  z-index: 2;
}

.blurred-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}


  @media(min-width: 500px) {
    font-size: 1.5em;
  }

  @media(min-width: 768px) {
    font-size: 2em;
  }
  
  @media(min-width: 1280px) {
    font-size: 2.5em;
  }
}

@media(min-width: 768px) {
  [tooltip] {
    position: relative;

    &:before, &:after {
      position: absolute;
      display: none;
      opacity: 0;
      left: 50%;
      transform: translate(-50%, 0);
      text-transform: none;
      font-size: 0.35em;
      line-height: 1;
      user-select: none;
      pointer-events: none;
      will-change: transform; 
    }

    &:before {
      content: '';
      top: calc(100% + 0.25em);
      border: 5px solid transparent;
      z-index: 1001;
      border-top-width: 0;
      border-bottom-color: white;
    }

    &:after {
      content: attr(tooltip);
      top: calc(100% +  0.5em);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.55em 0.75em;
      border-radius: 0.25em;
      text-shadow: none;
      box-shadow: 1px 3px 3px rgba(53, 53, 53, .9);
      background: white;
      color: black;
      z-index: 1000;
    }

    &:hover:before,
    &:hover:after {
      display: block;
      animation: tooltip 200ms ease-out forwards;
    }
  }
}
